<div class="container">


 <div class="col-md-offset-3 col-md-6">
<form action="/messages" method="post"role="form">
 
 <div class="form-group">
   <label for="bodyTextarea">Message text</label>
   <br>
   <textarea id="bodyTextarea" required name="message[body]" class="form-control" rows="10"><%= @message.body %></textarea>
   <br>
   
  <div class="form-group">
        <input type="checkbox" id="timerCheckBox" class="form-check-input" name="message[timer]" value="1"> <label for="timerCheckBox">Delete after 1 hour</label>
      </div>
 <button type="submit" class="btn btn-success">Submit</button>
 <br>
</form>
</div>
</div>
