<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chat Vendetta</title>
     <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   
  </head>

  <body>

   <nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
    <div class="row">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-md-2 navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
     <a href="/" class="navbar-brand">Vendetta</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="col-md-7 offset-1 nav navbar-nav">
        <li class="active"><a href="/">Create message</a></li>
        
        <li><a href="#">About us</a></li>
         
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>


   

      <%= yield %>

   


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  
  </body>
</html>
