<div class="container">
<div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
    <p class="text-success" style="text-align: center">You create a message!</p><br>
<h2 style="text-align: center">This is the link on your message: </h2><br>
<h4 style="text-align: center" id="link"><%= request.host.to_s+'/messages/'+@message.link %></h4>


</div>
</div>